.screen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.start-quiz{
   
    padding: 25px !important;
    border-radius: 50px !important;
    background-color: #602796 !important;
    
}
.menu{
    text-align: center;
}
.label{
    color: white;
    
}
.category-button{
    color: white !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    right: 0;
    text-align: center !important;
}